# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints

# Data i modele - ważne!
data/
*.pth
*.pt
*.onnx
*.h5
checkpoints/
wandb/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db